@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.ml-2{
    margin-left: 20px;
}

.ml-1{
    margin-left: 10px;
}
.ml-5{
    margin-left: 50px;
}